#  Project 1 Phase 1

#                                  Can Gun Violence In United States be controlled?

Course Name : Data Intensive Computing
Phase : 1
Term Project Name : Gun Violence In United States

**Problem Statement :** Gun violence has become a grim reality of life in the United States. According to data from the Pew Research Center, 44 percent of Americans say that they know someone who has been shot, and another 23 percent report that a gun has been used to threaten or intimidate them or a family member. United States ranks higher than many other developed countries when it comes to gun violence. Right from child to adult, every age group is involved in these crimes. Are the lenient laws are responsible for increasing number of gun violence? Is getting gun without a permit adding up to the increased numbers of crime?
There are many such questions we would like to find solution on. As this is one of the major factor inhibiting growth of US, we have to think on this.


Here are some questions we want to answer.

1. Which state has the highest number of gun violence crimes?
2. Which age group is vulnerable to participate in this crime?
3. How does requiring permits for guns affect gun violence?(general strictness)
4. Is the news getting reported from an authentic source?
5. Which region of a specific state has the most number of these crimes?
6. How many people get injured/killed by this incident?
9. Are the incidents reported from authentic sources?
10. Does gun laws result in the least amount of violent crime by state?
11. How does the total amount of gun laws affect gun violence by state?
12. Does adding stricter punishment for gunviolence and illegal gun ownership deter gun violence?
13. What specific guns are most responsible for mass shootings
14. Does pushing the sale for long gun owner ship from 18 to 21 affect gun violence?


**Name of the data :** Gun Violence In United States


**Background:**
Source: Data world and Kaggle
Time Period: 2013-2017
Scope (if there is please specified): United States
Data Unit: State and City

**Introduction To Dataset:** 
**Dataset1(Gun Violence) - 29 columns**

Dataset1 columns: 'incident_id', 'date', 'state', 'city_or_county', 'address', 'n_killed',
       'n_injured', 'incident_url', 'source_url',
       'incident_url_fields_missing', 'congressional_district', 'gun_stolen',
       'gun_type', 'incident_characteristics', 'latitude',
       'location_description', 'longitude', 'n_guns_involved', 'notes',
       'participant_age', 'participant_age_group', 'participant_gender',
       'participant_name', 'participant_relationship', 'participant_status',
       'participant_type', 'sources', 'state_house_district',
       'state_senate_district'
       
       
**Dataset2(Firearm Laws) - 136 columns**  
Dataset2 columns : 
'state',
 'year',
 'felony',
 'invcommitment',
 'invoutpatient',
 'danger',
 'drugmisdemeanor',
 'alctreatment',
 'alcoholism',
 'violent',
 'violenth',
 'violentpartial',
 'dealer',
 'dealerh',
 'recordsall',
 'recordsallh',
 'recordsdealer',
 'recordsdealerh',
 'reportall',
 'reportallh',
 'reportdealer',
 'reportdealerh',
 'purge',
 'residential',
 'theft',
 'security',
 'inspection',
 'ammlicense',
 'ammrecords',
 'permit',
 'permith',
 'fingerprint',
 'training',
 'permitlaw',
 'registration',
 'registrationh',
 'defactoreg',
 'defactoregh',
 'ammpermit',
 'ammrestrict',
 'age21handgunsale',
 'age18longgunsale',
 'age21longgunsaled',
 'age21longgunsale',
 'age21handgunpossess',
 'age18longgunpossess',
 'age21longgunpossess',
 'loststolen',
 'amm18',
 'amm21h',
 'universal',
 'universalh',
 'gunshow',
 'gunshowh',
 'universalpermit',
 'universalpermith',
 'backgroundpurge',
 'ammbackground',
 'threedaylimit',
 'mentalhealth',
 'statechecks',
 'statechecksh',
 'waiting',
 'waitingh',
 'assault',
 'onefeature',
 'assaultlist',
 'assaultregister',
 'assaulttransfer',
 'magazine',
 'tenroundlimit',
 'magazinepreowned',
 'onepermonth',
 'traffickingbackground',
 'traffickingprohibited',
 'traffickingprohibitedh',
 'strawpurchase',
 'strawpurchaseh',
 'microstamp',
 'gvro',
 'gvrolawenforcement',
 'college',
 'collegeconcealed',
 'elementary',
 'opencarryh',
 'opencarryl',
 'opencarrypermith',
 'opencarrypermitl',
 'permitconcealed',
 'mayissue',
 'showing',
 'ccbackground',
 'ccbackgroundnics',
 'ccrenewbackground',
 'ccrevoke',
 'nosyg',
 'personalized',
 'lockd',
 'lockp',
 'locked',
 'lockstandards',
 'capliability',
 'capaccess',
 'capuses',
 'capunloaded',
 'cap18',
 'cap16',
 'cap14',
 'junkgun',
 'liability',
 'immunity',
 'preemption',
 'preemptionnarrow',
 'preemptionbroad',
 'mcdv',
 'mcdvdating',
 'mcdvsurrender',
 'mcdvsurrendernoconditions',
 'mcdvsurrenderdating',
 'mcdvremovalallowed',
 'mcdvremovalrequired',
 'incidentremoval',
 'incidentall',
 'dvro',
 'dvrodating',
 'exparte',
 'expartedating',
 'dvrosurrender',
 'dvrosurrendernoconditions',
 'dvrosurrenderdating',
 'expartesurrender',
 'expartesurrendernoconditions',
 'expartesurrenderdating',
 'dvroremoval',
 'stalking',
 'lawtotal'

#### 4 Introduction of dataset


## Dataset1(Gun Violence dataset)

|Column Name | Description|
--- | ---
|**incident_id** | Unique Key for every incident|
--- | ---
|**date** | Date of crime|
--- | ---
|**state** | State of crime|
--- | ---
|**city_or_county** | City/ County of crime|
--- | ---
**address** | Address of the location of the crime
--- | ---
**n_killed** |Number of people killed
--- | ---
**n_injured** | Number of people injured
--- | ---
**incident_url** | URL regarding the incident
--- | ---
**source_url** | Reference to the reporting source
--- | ---
**incident_url_fields_missing** | Boolean of wheather the URL field is missing
--- | ---
**congressional_district** | Congressional district crime took place in
--- | ---
**gun_stolen** | Identifies whather the gun involved was proven to be stolen by participants
--- | ---
**gun_type** | Type of gun crime was commited with
--- | ---
**incident_characteristics** | characteristics of incident
--- | ---
**latitude** | latitude where incident took palce
--- | ---
**location_description** | description of location incident took place
--- | ---
**longitude** |longitude of incident
--- | ---
**n_guns_involved** |number of guns involved in incidents
--- | ---
**notes** | general notes of what occured in incident
--- | ---
**participant_age** | particpant age
--- | ---
**participant_age_group** | age group of participant(18+,50+ etc...)
--- | ---
**participant_gender** | gender of participant
--- | ---
**participant_name** | name of participant
--- | ---
**participant_relationship** | relationship participant had with victim(Cousin, Brother, friend etc...)
--- | ---
**participant_statu** | status of participant(alive, dead, arrested etc ... )
--- | ---
**participant_type** | participant's role in incident (victim, perpetrator etc...)
--- | ---
**sources** | URL leading to a reporting source
--- | ---
**state_house_district** | state house district of the shooting incident


## Dataset2(Firearms Dataset)
|Column Name | Description|
--- | ---
**state**| state gun law was enacted in
--- | ---
**year**| year gunlaw was active or inactive
--- | ---
**lawtotal**| total number of gun laws enacted in the state
--- | ---
**age21longgunsale**|Wheather purchase of long guns from licensed dealers restricted to age 21 and older in state
--- | ---
**age21handgunpossess**| Wheather the possession of handguns is restricted until age 21 in state
--- | ---
**age18longgunpossess**|Wheather the possession of long guns is restricted until age 18 in state
--- | ---
**age21longgunpossess**|Wheather the possession of long guns is restricted until age 21 in state
--- | ---
**age21handgunsale**|Wheather purchase of handguns from licensed dealers and private sellers restricted to age 21 and older in state
--- | ---
**age18longgunsale**|Wheather purchase of long guns from licensed dealers and private sellers restricted to age 18 and older in state
--- | ---
**age21longgunsaled**|Wheather purchase of long guns from licensed dealers and private sellers restricted to age 21 and older in state
--- | ---
**training**|Wheather safety training or testing required prior to issuing a firearm license or permitin state
--- | ---
**permit**| Wheather a license or permit is required to purchase all firearms in state
--- | ---
**permith**|Wheather a license or permit is required to purchase handguns in state
--- | ---
**felony**|Firearm possession is prohibited for people with a felony conviction in state
--- | ---
**mentalhealth**| Wheather there are Required background checks include an explicit requirement for search of state mental health records in state
--- | ---

**Hypothesis and conclusion**
 Our hypothesis is that the states with more gun laws will ultimatley have lower rates of gun violence , that young males are most often the perpetrators of gun violence, that the states with stricter gun regulations will help less gun violence, that a majority of incidents involve stolen weapons, that long guns are most responsible for mass shootings and that pushing the sale of long guns from 18 years old to 21 years old reduces the amount of gun violence.

**Team Members : **
1. Name : Aboli Rawanhate
    UBIT : aboliraw
    UB person number : 50374341
    
    
2. Name : Anthony Feliciano
   UBIT : arfelici
   UB person number : 50283461
   
   
This work is created by above specified members only.

**Data Sources : **
1. Kaggle
2. Data.world

**Data Sets : **
1. Gun Violence Dataset - https://www.kaggle.com/jameslko/gun-violence-data?select=gun-violence-data_01-2013_03-2018.csv
2. Firearms Dataset - https://data.world/mbsiegel/state-firearm-law-database-and-codebook/workspace/file?filename=firearms.database.xlsx

**Tasks Bifurcation : **
1. Dataset research for Gun Violence, processing and cleaning - Aboli Rawanhate
2. Dataset research for Firearm Laws, processing and cleaning - Anthony Feliciano

We have merged both the datasets to draw insights from to find solution on Gun Violence.

### Task Index

1. Load Data and initial exploration
2. Clean Participants Details starting with projecting a new dataframe with incident id and all participant
4. Cleanup projected new dataframe
5. Cleanup participant status column
6. Add back projected dataframe into original dataframe
7. Clean Gun Details
8. Handle missing values
9. Drop unwanted columns from original dataframe
10. Find gun type with missing values and delete them
12. Handle gun_type column
13. Infer participant_age_group from participant_age if missing
14. Handle participant_age column
15. Handle participant_gender column
16. Cleanup source_url column
17. Add Firearms Laws Dataset
18. Fill Unknown or NA gun type values with most frequently observed gun type in that county

# Gun Violence Dataset IDA

**1. Load Data and initial exploration**

***Description :*** This process is used to load the gun violence dataset and identify the columns to analyse the data.  

***Reason :*** Data is available in csv format, to analyse and work on it, we have to come up with operative format. Also, we need to observe structure of data to come up with answers.

***Process :*** Read csv file and convert it to dataframe. Check the structure of dataset by df.columns.

In [1]:
import numpy as np
import pandas as pd
import gc

# Read CSV file into DataFrame df
file_path = ".\p1_data\gun-violence-data_01-2013_03-2018.csv"
df = pd.read_csv(file_path)

# For testing purpose, operating on few rows only
#df = df.head()
df

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239672,1083142,2018-03-31,Louisiana,Rayne,North Riceland Road and Highway 90,0,0,http://www.gunviolencearchive.org/incident/108...,http://www.klfy.com/news/local/rayne-woman-cha...,False,...,0::25,0::Adult 18+,0::Female,0::Jhkeya Tezeno,NaN,"0::Unharmed, Arrested",0::Subject-Suspect,http://www.klfy.com/news/local/rayne-woman-cha...,NaN,NaN
239673,1083139,2018-03-31,Louisiana,Natchitoches,247 Keyser Ave,1,0,http://www.gunviolencearchive.org/incident/108...,http://www.ksla.com/story/37854648/man-wanted-...,False,...,1::21,0::Adult 18+||1::Adult 18+,0::Male||1::Male,0::Jamal Haskett||1::Jaquarious Tyjuan Ardison,NaN,"0::Killed||1::Unharmed, Arrested",0::Victim||1::Subject-Suspect,http://www.ksla.com/story/37854648/man-wanted-...,23.0,31.0
239674,1083151,2018-03-31,Louisiana,Gretna,1300 block of Cook Street,0,1,http://www.gunviolencearchive.org/incident/108...,http://www.nola.com/crime/index.ssf/2018/04/sh...,False,...,0::21,0::Adult 18+,0::Male,NaN,NaN,0::Injured,0::Victim,http://www.nola.com/crime/index.ssf/2018/04/sh...,85.0,7.0
239675,1082514,2018-03-31,Texas,Houston,12630 Ashford Point Dr,1,0,http://www.gunviolencearchive.org/incident/108...,https://www.chron.com/news/houston-texas/houst...,False,...,0::42,0::Adult 18+,0::Male,0::Leroy Ellis,NaN,0::Killed,0::Victim,http://www.khou.com/article/news/hpd-investiga...,149.0,17.0
239676,1081940,2018-03-31,Maine,Norridgewock,434 Skowhegan Rd,2,0,http://www.gunviolencearchive.org/incident/108...,https://www.centralmaine.com/2018/03/31/police...,False,...,0::58||1::62,0::Adult 18+||1::Adult 18+,0::Female||1::Male,0::Marie Lancaster Hale||1::William Hale,1::Significant others - current or former,0::Killed||1::Killed,0::Victim||1::Subject-Suspect,https://www.centralmaine.com/2018/03/31/police...,111.0,3.0

In [2]:
# Make pandas show all columns
pd.set_option('display.max_columns', None)

In [3]:
# Show columns of dataframe
df.columns

Index(['incident_id', 'date', 'state', 'city_or_county', 'address', 'n_killed',
       'n_injured', 'incident_url', 'source_url',
       'incident_url_fields_missing', 'congressional_district', 'gun_stolen',
       'gun_type', 'incident_characteristics', 'latitude',
       'location_description', 'longitude', 'n_guns_involved', 'notes',
       'participant_age', 'participant_age_group', 'participant_gender',
       'participant_name', 'participant_relationship', 'participant_status',
       'participant_type', 'sources', 'state_house_district',
       'state_senate_district'],
      dtype='object')

**2. Clean Participants Details starting with projecting a new dataframe with incident id and all participant**

**Description :**** There are six columns with participant details. Participants of the incident can be victim or suspects. This data is unnormalised so needs normalisation.

**Reason :**** Every participant group is related but not structured in a way that it seems related. Also data is un-normalised, so to focus on cleaning of only participant details, we are creating another dataframe for participants.

**Process :**** Create new dataframe from original dataframe using existing participant columns. Also we are replacing NaN with empty string to avoid any string operation failure.

In [4]:
# col_list with participant detailed columns will be used many times in the scripts for removal of the redundant columns from original dataframe
col_list = [
    "participant_age",
    "participant_age_group",
    "participant_gender",
    "participant_status",
    "participant_type",
]

# creating new list where incident id is mentioned as will need incident id to know participant details belongs to which incident.
new_col_list = ["incident_id"] + col_list

# Fill all NaN values with empty string so that string operations won't fail at this point.
df.fillna("", inplace=True)

# Make new dataframe for participants as there are six participants columns in dataframe and value of every column is '||' separated and string is in format - E.g. for participant's age it is 0::20'
newdf = df[new_col_list]

**3. Cleanup projected new dataframe**

**Description :****  Normalise participant details so that every row of the dataframe will have unique value.

**Reason :**** Every value of the participant details has value "0::Adult 18+||1::Adult 18+||2::Adult 18+" in this format, in this 0 is the participant id and his/her age group is 'Adult 18+'. Also, values of some participants are present in one columns whereas missing in other. So we are normalising this data


**Process :****  For every row, the value of every column is cleaned by making it as dictionary with key as participant_id and value as the respective column value. Then a consolidated list of dictionaries for participant details of the incident is created and then did explode to convert those keys to column names and dict values to column values.

In [5]:
# This function takes column value for particular row as input. 
# Cleans string from '0::20||1::25' to '[{'0':20,'1':25}]. This format will be easy to form general format for other participant columns as well.'
# Output - It returns list of disctionaries with key as the participant_id and value as the column's value for that participant.

def unpack_cols(col_data):
    new_dict = {}

    # Some cells have string separated by '|' and some are separated by '||'. So we are replacing first to get all strings in one format and then will split.
    col_data = col_data.replace('||','|')

    col_data = col_data.split('|')
    for elem in col_data:
        if elem:
            # Some cells have string separated by ':' and some are separated by '::'. So we are replacing first to get all strings in one format and then will split.
            elem = elem.replace('::',':')
            try:
                pid,pid_value = elem.split(':')
                new_dict.update({pid:pid_value})
            except:
                print("element==",elem)

            #print("data===",col_data,col_name)
        #print("new dict",new_dict)
    return new_dict

In [6]:
# Function takes participants specifc columns from every row of dataframe as input
# Cleans every participant column of dataframe and form a general structure of participant details so that every participant id will carry information of that participant.

def unpack_every_col(
    incident_id,
    participant_age,
    participant_age_group,
    participant_gender,
    participant_status,
    participant_type,
):
    # Cleans every participant column's string from '0::20||1::25' to '{'0':20,'1':25} format.
    participant_age = unpack_cols(participant_age)
    participant_age_group = unpack_cols(participant_age_group)
    participant_gender = unpack_cols(participant_gender)
    participant_status = unpack_cols(participant_status)
    participant_type = unpack_cols(participant_type)

    # Create unique list of participant's id so that we will know how many participant are there for every incident.
    unique_participants = set(
        list(participant_age.keys())
        + list(participant_age_group.keys())
        + list(participant_gender.keys())
        + list(participant_status.keys())
        + list(participant_type.keys())
    )
    unique_participants = list(unique_participants)

    # Form a dictionary with keys as participant column name and values for respective participant_id and category.
    new_row = []
    for participant in unique_participants:
        participant = str(participant)
        obj = {
            "incident_id": incident_id,
            "participant_id": participant,
            "participant_age": participant_age.get(participant),
            "participant_age_group": participant_age_group.get(participant),
            "participant_gender": participant_gender.get(participant),
            "participant_status": participant_status.get(participant),
            "participant_type": participant_type.get(participant),
        }
        new_row.append(obj)

    # If incident don't have any participant details
    if not new_row:
        new_row = [{}]
    # print("new row===",new_row)
    return new_row

In [7]:
# Apply unpack_every_col function to every row of dataframe and give output to new participant column.
newdf['participants'] = np.vectorize(unpack_every_col)(
    newdf['incident_id'],
    newdf['participant_age'],
    newdf['participant_age_group'],
    newdf['participant_gender'],
    newdf['participant_status'],
    newdf['participant_type']
)

<ipython-input-7-3024ed9a47d3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['participants'] = np.vectorize(unpack_every_col)(

In [8]:
# Explode participants column so that the keys which were in list of dictionary now form different column and values will be in the respective cells.
newdf = newdf.explode('participants')

In [9]:
# Drop existing participant details related columns from new dataframe so that we won't get duplicate column names while unpacking the dictionary
unpacked_participants_df = pd.json_normalize(newdf["participants"], max_level=0)

# To save on memory, delete unwanted dataframe
del newdf
gc.collect()

0

**4. Cleanup participant status column**

**Description :**** Participant column is normalised to get unique value on every row for that incident.

**Reason :**** Participant status for every incident is comma separated. To find unique value for every incident, we have to normalise this column.

**Process :**** Split participant status by comma then explode it to get unique rows

In [10]:
# Values in participant status were separated by ',' so normalised this column by splitting on the ',' and then exploding the column to make unique entry per row

unpacked_participants_df["participant_status"].unique()
unpacked_participants_df.fillna({"participant_status": ""}, inplace=True)
unpacked_participants_df["participant_status"] = unpacked_participants_df.apply(
    lambda x: x["participant_status"].split(", "), axis=1
)
unpacked_participants_df = unpacked_participants_df.explode("participant_status")

In [11]:
# Drop existing participant details related columns from original dataframe as we have to merge new dataframe with the same columns, so to avoid duplicacy

df.drop(columns=col_list,inplace=True)

**5. Add back projected dataframe into original dataframe**

**Description :**** After cleaning participant details, we are adding it to original dataset.
    
**Reason :**** Original dataset should have cleaned participant details.
    
**Process :**** Remove existing participant details from original dataframe so that merging won't cause duplicacy.Merge participant details dataframe with original dataframe.

In [12]:
# Merge original dataframe and new dataframe on incident id to get all the cleaned participant details on original dataframe

df = df.merge(unpacked_participants_df, how='inner', on='incident_id')

In [13]:
# Delete unpacked_participants_df as we don't need it
del unpacked_participants_df
gc.collect()

45

**6. Clean Gun Details**
**Description :**** Details about the guns involved in the crime cleaned,filtered and normalised.

***Reason :*** Columns related to gun e.g. Gun Stolen, Gun Type needs statistical assumptions as it has many NaN values so it is difficult to infer information from these columns.

**Process : ****
Gun Scenario : Columns with details of gun involved in incident have values '0::Handgun||1::Shotgun' where number of guns involved is two here and respective is the gun type.

Logic : Two different columns created as gun type for gun information. Created new dataframe, cleaned it then merged to original dataframe

In [14]:
# Unpack_gun_cols take gun specific columns and normalise gun_stolen and gun_type columns and form consolidate information of gun. We need gun type column normalised to know which gun type is more involved in such crimes.
# This function returns list of dictionaries with every dictionary contains details of the gun involved in that incident.

def unpack_gun_col(incident_id, gun_stolen, gun_type):
    gun_stolen = unpack_cols(gun_stolen)
    gun_type = unpack_cols(gun_type)
    
    unique_guns_id = set(list(gun_stolen.keys())+list(gun_type.keys()))
    unique_guns_id = list(unique_guns_id)
    new_row = []
    
    for gid in unique_guns_id:
        new_row.append({
            'incident_id': incident_id,
            'gun_type' : gun_type.get(str(gid)),
        })  
        
    if not new_row:
        return [{}]
    
    return new_row

In [15]:
# Place the gun details involved in the incident into new column 'guns' then unpack that column to make keys of the dictionary as column name so that every incident will have gun details.

gdf = pd.DataFrame([])
gdf['guns'] = np.vectorize(unpack_gun_col)(
    df['incident_id'],
    df['gun_stolen'],
    df['gun_type'],
)

gdf = gdf.explode('guns')

unpacked_guns_df = pd.json_normalize(gdf["guns"], max_level=0)

df.drop(columns=['gun_stolen','gun_type'],inplace = True)

df = pd.merge(
    df,
    unpacked_guns_df,
    left_on=["incident_id"],
    right_on=["incident_id"],
    how='left'
)

del gdf
del unpacked_guns_df
gc.collect()

0

**7. Drop unwanted columns from original dataframe**

**Description :**** Deleting columns which are not required for the analysis.

**Reason :**** Deletion of extra columns is necessary as operating on unwanted columns will consume less memory and will be easier to process.

**Process :**** By using drop function of pandas

In [16]:
# Drop unwanted columns from the original dataframe

drop_col_list = [
    "address",
    "incident_url",
    "sources",
    "incident_url_fields_missing",
    "congressional_district",
    "location_description",
    "notes",
    "participant_name",
    "participant_relationship",
    "incident_characteristics",
    "state_house_district",
    "state_senate_district",
]
df.drop(drop_col_list, axis=1, inplace=True)

**8 . Validate location specific columns**

**Description :**** Check if location specific column has any null values

**Reason :**** Missing values don't contribute on prediction so it is necessary to fill those cells or to remove them if not having much impact on data.

**Process :**** Checking columns for null values using isnull()

In [17]:
# Assert that we have data in all location specific columns
# i.e their should be no NaN in state, city_or_county and latitude/longitude columns

location_cols = ['state', 'city_or_county', 'latitude', 'longitude']
for lcols in location_cols:
    nrows = df[df[lcols].isnull()].shape[0]
    print(f"Column {lcols} has {nrows} rows with NaN values")
    assert nrows == 0

Column state has 0 rows with NaN values
Column city_or_county has 0 rows with NaN values
Column latitude has 0 rows with NaN values
Column longitude has 0 rows with NaN values

**9. Handle missing values******

***Description :*** Verify and handle missing values from dataframe.

**Reason :**** Missing values don't contribute on prediction so it is necessary to fill those cells or to remove them if not having much impact on data.

**Process :**** Checking columns for null values using isnull()

In [18]:
# Columns with missing values
for col in df.columns:
    nrows = df[df[col].isnull()].shape[0]
    if nrows:
        print(f"Column {col} has {nrows} rows with NaN values")

Column participant_age has 955547 rows with NaN values
Column participant_age_group has 365812 rows with NaN values
Column participant_gender has 356856 rows with NaN values
Column gun_type has 188503 rows with NaN values

* **10. Find gun type with missing values and delete them**

**Description :**** Identify columns with missing values and deleting them

**Reason :**** Missing values makes processing difficult.

**Process :**** Deleting the rows with missing values

In [19]:
df.dropna(subset=['gun_type'], inplace=True)

**11. Handle participant_age_group missing values**

**Description :**** Infer missing values for participant_age_group from participant_age column

**Reason :**** Filling age group values based on age, to keep data consistent and accurate.

**Process :**** Check where participant age is present and participant age group is missing, so that we can add age group based on age.

In [20]:
df[df.participant_age.notnull() & df.participant_age_group.isna()].shape

(704, 17)

In [21]:
# Check rows with valid age but missing age_group
# The rows will be filled with subsequent operations in participant_age and participant_age_group column
df[df['participant_age'].notnull() & df['participant_age_group'].isna()].shape

(704, 17)

In [22]:
# To check which type of participant age groups are there, so that we can fill participant age group using participant age value where age group is missing.
df['participant_age_group'].unique()

array(['Adult 18+', 'Teen 12-17', 'Child 0-11', None], dtype=object)

In [23]:
# Update participant age group if its NA to the value respective to the age. Here if age > 18 then add age_group as adult 18+

df["participant_age_group"] = np.where(
    df["participant_age_group"].isna() & df["participant_age"] > 18,
    "Adult 18+",
    df["participant_age_group"],
)

**12. Handle participant_age column**

**Description :**** Fill Na values in participant age column so that we can compare the age to assign a specific age group in participant age group where the value is missing.


**Reason :**** To compare assign age group based on age, missing values of age could hamper the process.

**Process :****  Force type participant age column as integer so that we can compare age range and assign particular age group in participant age group column.

In [24]:
# Fill NA by '-1' in participant age as -1 won't be a valid age and we are just temporary filling it by -1 to perform fill na values with age group based on age as it will require type of age as integer and we have it as string

df['participant_age'].fillna(-1,inplace=True)
df['participant_age'].unique()

array(['33', '25', '34', '31', '47', '46', '14', '18', '9', '51', '5',
       '15', '40', '2', -1, '19', '28', '78', '48', '24', '20', '21',
       '29', '22', '23', '39', '68', '27', '69', '50', '42', '17', '66',
       '67', '64', '57', '62', '3', '1', '63', '26', '16', '32', '53',
       '41', '55', '10', '30', '45', '72', '37', '13', '12', '44', '70',
       '43', '49', '52', '79', '59', '0', '35', '80', '38', '36', '61',
       '58', '73', '8', '4', '56', '6', '88', '71', '74', '60', '11', '7',
       '77', '54', '76', '81', '65', '89', '92', '82', '84', '93', '75',
       '87', '83', '86', '85', '97', '94', '91', '90', '95', '99', '96',
       '100', '209', '311'], dtype=object)

In [25]:
# Force participant age column type as integer from string to compare with age range and assign specific age group.

df = df.astype({'participant_age': 'int32'})

In [26]:
# Assign age group as Child if age is between 1-11 and age group is null

df["participant_age_group"] = np.where(
    (df["participant_age_group"].isna())
    & (df["participant_age"].notnull())
    & (df["participant_age"] > 0)
    & (df["participant_age"] <= 11),
    "Child 0-11",
    df["participant_age_group"],
)

# Assign age group as Teen if age is between 12-17 and age group is null

df["participant_age_group"] = np.where(
    (df["participant_age_group"].isna())
    & (df["participant_age"].notnull())
    & (df["participant_age"] > 11)
    & (df["participant_age"] <= 17),
    "Teen 12-17",
    df["participant_age_group"],
)

In [27]:
df.dropna(subset=['participant_age_group'], inplace=True)

**Handle participant_age column**

Delete the participant_age column. We can use participant_age_group since it has much less missing values compared to participant_age column

In [28]:
df.drop(columns=['participant_age'], axis=1,inplace=True)

**13. Handle participant_gender column**

**Description :** Fill the missing gender values by infering most frequent gender based state, city_or_county and participant_type columns. 

**Reason :**** Missing values can be filled with the most frequent value based on some criteria to get more accurate information from that column.

**Process :**** Group By with state, county, participant type and participant gender, calculated size of the rows for the matching condition then sorted with size and add most frequent gender column to the dataset. After that filled the missing participant gender column with the values from most frequent gender column and deleted the most frequent column as it was redundant.

In [29]:
# Incidents with missing participant_gender
df[df.participant_gender.isna()].incident_id.nunique() / df.incident_id.nunique() * 100

4.8648414110296345

In [30]:
cols = [
    "incident_id",
    "participant_id",
    "state",
    "city_or_county",
    "participant_type",
    "participant_gender",
]
a = df[cols]

# Rows with valid participant gender
a = a[a.participant_gender.notnull()]

key = ["incident_id", "participant_id"]
a = a.groupby(by=key, as_index=False).first().drop(columns=key)

# Get number of participants of each gender for each state, city_or_county and participant_type
a = a.groupby(
    by=["state", "city_or_county", "participant_type", "participant_gender"],
    as_index=False,
).size()

# Get most frequent gender for each state, city_or_county and participant_type
a = a.sort_values(
    by=["state", "city_or_county", "participant_type", "participant_gender", "size"],
    ascending=[True, True, True, True, False],
)
a = a.groupby(
    by=["state", "city_or_county", "participant_type", "participant_gender"],
    as_index=False,
).first()
a.drop(columns=["size"], inplace=True)
a.rename(
    columns={"participant_gender": "most_frequent_gender"},
    inplace=True
)

In [31]:
# Fill missing values for participant_gender by most_frequent_gender column

df = pd.merge(df, a, on=['state', 'city_or_county', 'participant_type'], how='left')
df['participant_gender'].fillna(df['most_frequent_gender'], inplace=True)

# Drop column
df.drop(columns=['most_frequent_gender'], inplace=True)

del a
gc.collect()

15

In [32]:
# Delete remaining rows which don't have participant_gender
df.dropna(subset=['participant_gender'], inplace=True)

**14. Handle source_url column**

**Description :**** Sources are extracted from URL, we will use this data to analyse incident news is from authentic source or not.

***Reason :*** We will need source of the news to check its authenticity in EDA.

**Process :**** Extracting hostnames from url using urlparse

In [33]:
# This function gets url as input and returns hostname from the url. We are doing this to make a note that from which sources the incident is getting conveyed, so at later stage we can check for its authenticity.

from urllib.parse import urlparse
def get_hostname_from_url(url):
    hostname = ''
    #print(url)
    
    # Validate URL
    url = url.lstrip('/')
    
    # Check if it starts with valid protocol
    is_valid = url.startswith('http://') or url.startswith('https://')
    
    # Add protocol if missing
    if not is_valid:
        url = f"http://{url}"
    
    if url:
        resp = urlparse(url)
        hostname = resp.hostname or "" 
        hostname = hostname.split('.')

        if len(hostname) > 1:
            hostname = hostname[1]
        else:
            hostname = ''

        #print("hostnames===",type(hostname),hostname)
    return hostname

In [34]:
# Pass url from every row of dataframe and get the hostname
df['source_url'] = np.vectorize(get_hostname_from_url)(df['source_url'])

In [35]:
# Rename source_url column to source as now that column does not contains url just the hostname

df.rename(columns={'source_url':'source'},inplace=True)

# Firearm Laws Dataset IDA

**15. Add Firearms Laws Dataset**
**Description :**** Filter only important columns from firearms dataset and Merge Gun Laws(firearm) dataset with Gun Violence Dataset

**Reason :**** To know how particular laws impact the number of gun violence in that state or county

**Process :**** Clean firearm dataset and used only relavant columns and dates for merging and data analysis.

In [36]:

#function to parse out the year of the gun violence datafram
def compare_data_year(data):
    #tokenize data and extract year
    year =str(data.split('-')[0])
    #return as int to match law df
    return int(year)

def filter_laws(col):
    relevant_laws = ["state","year","lawtotal", 'age21longgunsale',
    'age21handgunpossess','age18longgunpossess','age21longgunpossess', 'age21handgunsale',
    'age18longgunsale','age21longgunsaled',"training","permit","permith","felony", 'mentalhealth']
    if str(col) not in relevant_laws:
        return True
    else:
        return False

# turn firearms csv to dataframe
laws_df = pd.read_csv("./p1_data/firearmsdatabase.csv")    

#get law columns
law_columns =list(laws_df.columns) 

#filter irrelevantlaws
irrelevant_laws = list(filter(filter_laws,law_columns))

#drop irrelevant laws
laws_df.drop(irrelevant_laws,axis = 1,inplace=True)





#drop rows from gun violence dataframe who's date doesn't correspond to any item from the law datafram
too_old_indexes_laws = laws_df[laws_df["year"] < 2013].index
too_new_indexs_gv=df[df['date'].apply(compare_data_year) =="2018"].index

#drop rows from law dataframe who's date doesn't correspond to any item from the gun_violence datafram
df.drop(too_new_indexs_gv,inplace = True)
laws_df.drop(too_old_indexes_laws, inplace=True)


#create year column to have a key along with the state to merge the law dataset into the gunviolence dataset
df['year'] = df['date'].apply(compare_data_year)


#put in new dataframe to show

df = pd.merge(df,laws_df, on = ("year","state"))

In [37]:
df.columns

Index(['incident_id', 'date', 'state', 'city_or_county', 'n_killed',
       'n_injured', 'source', 'latitude', 'longitude', 'n_guns_involved',
       'participant_id', 'participant_age_group', 'participant_gender',
       'participant_status', 'participant_type', 'gun_type', 'year', 'felony',
       'permit', 'permith', 'training', 'age21handgunsale', 'age18longgunsale',
       'age21longgunsaled', 'age21longgunsale', 'age21handgunpossess',
       'age18longgunpossess', 'age21longgunpossess', 'mentalhealth',
       'lawtotal'],
      dtype='object')

**Check for outliers in lawtotal**

In [38]:
outliers = df[df['lawtotal'] > df['lawtotal'].mean() + 3 * df['lawtotal'].std()]
print(outliers)

Empty DataFrame
Columns: [incident_id, date, state, city_or_county, n_killed, n_injured, source, latitude, longitude, n_guns_involved, participant_id, participant_age_group, participant_gender, participant_status, participant_type, gun_type, year, felony, permit, permith, training, age21handgunsale, age18longgunsale, age21longgunsaled, age21longgunsale, age21handgunpossess, age18longgunpossess, age21longgunpossess, mentalhealth, lawtotal]
Index: []

In [39]:
df

,incident_id,date,state,city_or_county,n_killed,n_injured,source,latitude,longitude,n_guns_involved,participant_id,participant_age_group,participant_gender,participant_status,participant_type,gun_type,year,felony,permit,permith,training,age21handgunsale,age18longgunsale,age21longgunsaled,age21longgunsale,age21handgunpossess,age18longgunpossess,age21longgunpossess,mentalhealth,lawtotal
0,478855,2013-01-01,Ohio,Lorain,1,3,northcoastnow,41.4455,-82.1377,2.0,2,Adult 18+,Male,Killed,Victim,Unknown,2013,0,0,0,0,1,1,0,0,0,0,0,0,15
1,478855,2013-01-01,Ohio,Lorain,1,3,northcoastnow,41.4455,-82.1377,2.0,2,Adult 18+,Male,Killed,Victim,Unknown,2013,0,0,0,0,1,1,0,0,0,0,0,0,15
2,478855,2013-01-01,Ohio,Lorain,1,3,northcoastnow,41.4455,-82.1377,2.0,2,Adult 18+,Male,Killed,Victim,Unknown,2013,0,0,0,0,1,1,0,0,0,0,0,0,15
3,478855,2013-01-01,Ohio,Lorain,1,3,northcoastnow,41.4455,-82.1377,2.0,2,Adult 18+,Male,Killed,Victim,Unknown,2013,0,0,0,0,1,1,0,0,0,0,0,0,15
4,478855,2013-01-01,Ohio,Lorain,1,3,northcoastnow,41.4455,-82.1377,2.0,2,Adult 18+,Male,Killed,Victim,Unknown,2013,0,0,0,0,1,1,0,0,0,0,0,0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5331101,1017950,2017-12-23,Montana,Stevensville,0,1,com,46.5115,-114.094,2.0,0,Adult 18+,Male,Injured,Victim,9mm,2017,0,0,0,0,0,0,0,0,0,0,0,0,4
5331102,1017950,2017-12-23,Montana,Stevensville,0,1,com,46.5115,-114.094,2.0,0,Adult 18+,Male,Injured,Victim,22 LR,2017,0,0,0,0,0,0,0,0,0,0,0,0,4
5331103,1017950,2017-12-23,Montana,Stevensville,0,1,com,46.5115,-114.094,2.0,0,Adult 18+,Male,Injured,Victim,9mm,2017,0,0,0,0,0,0,0,0,0,0,0,0,4
5331104,1015876,2017-12-28,Montana,Kalispell,0,1,dailyinterlake,48.139,-114.202,1.0,0,Adult 18+,Male,Injured,Victim,Unknown,2017,0,0,0,0,0,0,0,0,0,0,0,0,4
5331105,1015876,2017-12-28,Montana,Kalispell,0,1,dailyinterlake,48.139,-114.202,1.0,0,Adult 18+,Male,Injured,Victim,Unknown,2017,0,0,0,0,0,0,0,0,0,0,0,0,4

**Filling Unknown Gun Type with Most frequently observed Gun Type in city**

In [40]:
# Group by state city and gun type and get the size

a = df[['state','city_or_county','gun_type']]

a = a.groupby(
    by=['state','city_or_county','gun_type'],
    as_index=False,
).size()

indexNames = a[a['gun_type'] == 'Unknown' ].index
a.drop(indexNames , inplace=True)

In [41]:
# Sort size by descending order to get most frequently used
a = a.sort_values(
    by=["state", "city_or_county", "gun_type","size"],
    ascending=[True, True, True, False],
)

In [42]:
# To get just the top row of group
a = a.groupby(
    by=["state", "city_or_county"],
    as_index=False,
).first()

In [43]:
a.drop(columns=["size"], inplace=True)
a.rename(
    columns={"gun_type": "most_frequent_gun_type"},inplace=True)

In [44]:
a

        state     city_or_county most_frequent_gun_type
0     Alabama         Adamsville                Handgun
1     Alabama              Adger                Handgun
2     Alabama     Alexander City                  40 SW
3     Alabama               Arab                25 Auto
4     Alabama             Athens                  22 LR
...       ...                ...                    ...
7500  Wyoming       Rock Springs                Handgun
7501  Wyoming           Sheridan                    9mm
7502  Wyoming           Shoshoni                  Other
7503  Wyoming     Teton (county)        223 Rem [AR-15]
7504  Wyoming  Washakie (county)                Handgun

[7505 rows x 3 columns]

In [45]:
# Merge a with df on state and city
df = pd.merge(df, a, on=['state', 'city_or_county'], how='left')
df['gun_type'] = df['gun_type'].replace('Unknown', np.NaN)
df['gun_type'].fillna(df['most_frequent_gun_type'], inplace=True)

# Drop column
df.drop(columns=['most_frequent_gun_type'], inplace=True)


del a
gc.collect()

75

In [46]:
df.to_csv("Cleaned_Gun_Violence.csv")

In [47]:
df

,incident_id,date,state,city_or_county,n_killed,n_injured,source,latitude,longitude,n_guns_involved,participant_id,participant_age_group,participant_gender,participant_status,participant_type,gun_type,year,felony,permit,permith,training,age21handgunsale,age18longgunsale,age21longgunsaled,age21longgunsale,age21handgunpossess,age18longgunpossess,age21longgunpossess,mentalhealth,lawtotal
0,478855,2013-01-01,Ohio,Lorain,1,3,northcoastnow,41.4455,-82.1377,2.0,2,Adult 18+,Male,Killed,Victim,22 LR,2013,0,0,0,0,1,1,0,0,0,0,0,0,15
1,478855,2013-01-01,Ohio,Lorain,1,3,northcoastnow,41.4455,-82.1377,2.0,2,Adult 18+,Male,Killed,Victim,22 LR,2013,0,0,0,0,1,1,0,0,0,0,0,0,15
2,478855,2013-01-01,Ohio,Lorain,1,3,northcoastnow,41.4455,-82.1377,2.0,2,Adult 18+,Male,Killed,Victim,22 LR,2013,0,0,0,0,1,1,0,0,0,0,0,0,15
3,478855,2013-01-01,Ohio,Lorain,1,3,northcoastnow,41.4455,-82.1377,2.0,2,Adult 18+,Male,Killed,Victim,22 LR,2013,0,0,0,0,1,1,0,0,0,0,0,0,15
4,478855,2013-01-01,Ohio,Lorain,1,3,northcoastnow,41.4455,-82.1377,2.0,2,Adult 18+,Male,Killed,Victim,22 LR,2013,0,0,0,0,1,1,0,0,0,0,0,0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5331101,1017950,2017-12-23,Montana,Stevensville,0,1,com,46.5115,-114.094,2.0,0,Adult 18+,Male,Injured,Victim,9mm,2017,0,0,0,0,0,0,0,0,0,0,0,0,4
5331102,1017950,2017-12-23,Montana,Stevensville,0,1,com,46.5115,-114.094,2.0,0,Adult 18+,Male,Injured,Victim,22 LR,2017,0,0,0,0,0,0,0,0,0,0,0,0,4
5331103,1017950,2017-12-23,Montana,Stevensville,0,1,com,46.5115,-114.094,2.0,0,Adult 18+,Male,Injured,Victim,9mm,2017,0,0,0,0,0,0,0,0,0,0,0,0,4
5331104,1015876,2017-12-28,Montana,Kalispell,0,1,dailyinterlake,48.139,-114.202,1.0,0,Adult 18+,Male,Injured,Victim,40 SW,2017,0,0,0,0,0,0,0,0,0,0,0,0,4
5331105,1015876,2017-12-28,Montana,Kalispell,0,1,dailyinterlake,48.139,-114.202,1.0,0,Adult 18+,Male,Injured,Victim,40 SW,2017,0,0,0,0,0,0,0,0,0,0,0,0,4

Check and Drop Null Values

In [48]:
df.columns[df.isnull().any()]

Index(['gun_type'], dtype='object')

In [49]:
indexes = df[df['gun_type'].isnull()].index

In [50]:
df.drop(indexes,axis=0,inplace=True)

In [51]:
df.columns[df.isnull().any()]

Index([], dtype='object')

In [52]:
ind = df[df['gun_type'].isna()].index
ind

Int64Index([], dtype='int64')

In [53]:
df.describe()

,incident_id,n_killed,n_injured,year,felony,permit,permith,training,age21handgunsale,age18longgunsale,age21longgunsaled,age21longgunsale,age21handgunpossess,age18longgunpossess,age21longgunpossess,mentalhealth,lawtotal
count,5.187387e+06,5.187387e+06,5.187387e+06,5.187387e+06,5.187387e+06,5.187387e+06,5.187387e+06,5.187387e+06,5.187387e+06,5.187387e+06,5.187387e+06,5.187387e+06,5.187387e+06,5.187387e+06,5.187387e+06,5.187387e+06,5.187387e+06
mean,6.044382e+05,6.603859e-01,8.329369e-01,2.015961e+03,8.598689e-01,5.524992e-01,6.428834e-01,5.131848e-01,6.102901e-01,7.496038e-01,5.316742e-04,5.316742e-04,5.330819e-01,5.933502e-01,4.515005e-01,6.421381e-01,6.492706e+01
std,1.800347e+05,4.802626e+00,5.112161e+00,7.052416e-01,3.471230e-01,4.972362e-01,4.791496e-01,4.998262e-01,4.876845e-01,4.332412e-01,2.305193e-02,2.305193e-02,4.989044e-01,4.912085e-01,4.976423e-01,4.793713e-01,3.864567e+01
min,9.213500e+04,0.000000e+00,0.000000e+00,2.013000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00
25%,5.489500e+05,0.000000e+00,0.000000e+00,2.016000e+03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.100000e+01
50%,5.756630e+05,0.000000e+00,0.000000e+00,2.016000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,8.900000e+01
75%,6.813090e+05,0.000000e+00,0.000000e+00,2.016000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+02
max,1.083162e+06,5.000000e+01,5.300000e+01,2.017000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.060000e+02

In [54]:
df

,incident_id,date,state,city_or_county,n_killed,n_injured,source,latitude,longitude,n_guns_involved,participant_id,participant_age_group,participant_gender,participant_status,participant_type,gun_type,year,felony,permit,permith,training,age21handgunsale,age18longgunsale,age21longgunsaled,age21longgunsale,age21handgunpossess,age18longgunpossess,age21longgunpossess,mentalhealth,lawtotal
0,478855,2013-01-01,Ohio,Lorain,1,3,northcoastnow,41.4455,-82.1377,2.0,2,Adult 18+,Male,Killed,Victim,22 LR,2013,0,0,0,0,1,1,0,0,0,0,0,0,15
1,478855,2013-01-01,Ohio,Lorain,1,3,northcoastnow,41.4455,-82.1377,2.0,2,Adult 18+,Male,Killed,Victim,22 LR,2013,0,0,0,0,1,1,0,0,0,0,0,0,15
2,478855,2013-01-01,Ohio,Lorain,1,3,northcoastnow,41.4455,-82.1377,2.0,2,Adult 18+,Male,Killed,Victim,22 LR,2013,0,0,0,0,1,1,0,0,0,0,0,0,15
3,478855,2013-01-01,Ohio,Lorain,1,3,northcoastnow,41.4455,-82.1377,2.0,2,Adult 18+,Male,Killed,Victim,22 LR,2013,0,0,0,0,1,1,0,0,0,0,0,0,15
4,478855,2013-01-01,Ohio,Lorain,1,3,northcoastnow,41.4455,-82.1377,2.0,2,Adult 18+,Male,Killed,Victim,22 LR,2013,0,0,0,0,1,1,0,0,0,0,0,0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5331101,1017950,2017-12-23,Montana,Stevensville,0,1,com,46.5115,-114.094,2.0,0,Adult 18+,Male,Injured,Victim,9mm,2017,0,0,0,0,0,0,0,0,0,0,0,0,4
5331102,1017950,2017-12-23,Montana,Stevensville,0,1,com,46.5115,-114.094,2.0,0,Adult 18+,Male,Injured,Victim,22 LR,2017,0,0,0,0,0,0,0,0,0,0,0,0,4
5331103,1017950,2017-12-23,Montana,Stevensville,0,1,com,46.5115,-114.094,2.0,0,Adult 18+,Male,Injured,Victim,9mm,2017,0,0,0,0,0,0,0,0,0,0,0,0,4
5331104,1015876,2017-12-28,Montana,Kalispell,0,1,dailyinterlake,48.139,-114.202,1.0,0,Adult 18+,Male,Injured,Victim,40 SW,2017,0,0,0,0,0,0,0,0,0,0,0,0,4
5331105,1015876,2017-12-28,Montana,Kalispell,0,1,dailyinterlake,48.139,-114.202,1.0,0,Adult 18+,Male,Injured,Victim,40 SW,2017,0,0,0,0,0,0,0,0,0,0,0,0,4